@import "variables.less";

div {
  
}

a {
  color: @link-main;
  font-weight: bold;
}

a:visited {
  color: darken(@link-main, 8%);
  text-decoration: none;
}

a:hover {
  color: @link-hover;
  text-decoration: none;
}

.a-inverse {
  color: @link-hover;
  font-weight: normal;
  padding: 0 15px;
}

.a-inverse:visited {
  color: darken(@link-hover, 8%);
  font-weight: normal;
}

body {
  background: @background-main;
}

h1 {
  font-family: 'Merienda One', cursive;
}

h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

/* Service Pane */
.service-pane {
  margin-top: 15px;
  padding: 0px;
}

.service-pane-top {
  height: 200px;
  padding: 5px 15px;
  background-color: @navbarInverseBackground;
  color: @grayLight;
}

.service-pane-top:hover {
  height: 200px;
  padding: 5px 15px;
  background-color: @grayLight;
  color: @navbarInverseBackground;
}

.service-pane-bottom:hover + .service-pane-top {
  height: 200px;
  padding: 5px 15px;
  background-color: @grayLight;
  color: @navbarInverseBackground;
}

.service-pane-bottom {
  padding: 15px;
  font-size: 0.75em;
  background-color: #c4c0b5;
  text-align: center;
}

/* Content Divs */
.header {
    padding: 12px 25px;
    height: 80px; 
    color: lighten(black, 13%);
    background-color: @background-header;   
}

.content {
    min-height: 800px; 
    background-color: @background-content;   
    font-size: 1.3em; 
    font-family: 'Lora', serif;
}

.content-padding {
    padding: 10px 25px;
}

.footer-padding {
  padding: 30px;
}

.footer {
  display: inline-block;
  text-align: center;
  min-height: 100px;
  background-color: @navbarInverseBackground;
  color: @grayLight;
}

/* Navbar */
.navbar {
  margin: 0;
}

.navbar-inner {    
    font-family: 'Lato', sans-serif;
    padding-left: 60px;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

